.git
.gitignore
.pytest_cache
**/__pycache__
**/*.py[cod]
*.sqlite
*.sqlite3
*.db
build
dist
*.egg-info
reports
coverage.xml
.coverage
htmlcov
.env
.env.*
!.env.example
tests
phase*-dist
*.zip
*.whl
node_modules
deploy/nginx/certs/*
!deploy/nginx/certs/.gitkeep
