DIFOUNDRY_LITE_DATA_DIR=~/.difoundry-lite
DIFOUNDRY_LITE_HOST=127.0.0.1
DIFOUNDRY_LITE_PORT=8765
DIFOUNDRY_LITE_ALLOW_LAN=false
DIFOUNDRY_LITE_OPEN_BROWSER=true
DIFOUNDRY_LITE_DISCOVERY_TIMEOUT=12
DIFOUNDRY_LITE_MAX_PROBES=24
